@import '../../styles/variables.scss';

.contact.section {
  top: 10em;
  h1 {
    font-family: $main-header-font;
    padding-top: 1em;
    text-transform: uppercase;
  }
  .contact-form {
    display: inline-block;
    text-align: center;
    width: 35%;
  }
}