.projects.section h1 {
  font-family: "Barlow Semi Condensed";
  padding-top: 1em;
  text-transform: uppercase; }

.projects.section .body {
  height: 100%;
  left: 50%;
  margin-top: 4em;
  padding-bottom: 5em;
  position: relative;
  transform: translateX(-50%);
  width: 60%; }
  .projects.section .body .project-list {
    align-items: center;
    background-color: #fcfcfc;
    border: 2px solid #e8f2fc;
    display: flex;
    height: 100%;
    width: 100%; }
    .projects.section .body .project-list .project-image {
      display: inline-block;
      position: relative;
      width: 50%; }
      .projects.section .body .project-list .project-image img {
        width: 100%; }
    .projects.section .body .project-list .project-description {
      display: inline-block;
      height: 100%;
      padding: 0.5em 2em;
      text-align: left;
      width: 50%; }
      .projects.section .body .project-list .project-description h4 {
        font-family: "Barlow";
        text-align: center;
        text-transform: uppercase; }
