.about.section {
  height: 45vh; }
  .about.section h1 {
    padding-top: 1.5em;
    text-transform: uppercase; }
  .about.section .title {
    padding-top: 2.5em; }
    .about.section .title p {
      margin: 0.5em;
      text-transform: uppercase; }
  .about.section .body {
    margin: 5em auto;
    text-align: left;
    width: 50%; }
    .about.section .body p {
      line-height: 1.6em;
      margin: 0.3em;
      word-wrap: break-word; }

.about .icon-row {
  display: inline-block;
  margin-top: 0.7em; }

.about .icon-row i {
  cursor: pointer;
  font-size: 2em; }

.about .icon-row i:hover {
  color: #57b4c5; }

.about .icon-row i:first-child {
  margin-right: 0.5em; }
