.about.section {
  top: -8em; }
  .about.section h1,
  .about.section h4 {
    text-transform: uppercase; }
  .about.section h1 {
    font-family: "Barlow Semi Condensed";
    padding-top: 1em; }
  .about.section h4 {
    font-family: "Barlow";
    margin: 0.5em; }
  .about.section .title p {
    margin: 0.5em;
    text-transform: uppercase; }
  .about.section .body {
    margin: 3em auto;
    overflow: auto;
    text-align: left;
    width: 50%; }
    .about.section .body p {
      line-height: 1.6em;
      word-wrap: break-word;
      width: 45%; }
    .about.section .body img {
      border: 1px solid #f7ddc8;
      float: right;
      width: 35%; }

.about .icon-row {
  display: inline-block;
  margin-top: 0.7em; }
  .about .icon-row i {
    cursor: pointer;
    font-size: 2em; }
  .about .icon-row i:hover {
    color: #f7c8a1; }
  .about .icon-row i:first-child {
    margin-right: 0.5em; }
