$main-header-font: 'Barlow Semi Condensed';
$header-font: 'Barlow';
$subhead-font: 'Source Sans Pro';
$body-font: 'Yantramanav';

// $main-bg-color: #f0f7fc;
// $main-bg-color: #ededed;
$main-bg-color: #f2f7fc;

$nav-color:#57b4c5;
$nav-sub-color: #f7c8a1;
$visited: #f7c8a1;