$main-header-font: 'Barlow Semi Condensed';
$header-font: 'Barlow';
$subhead-font: 'Source Sans Pro';
$body-font: 'Yantramanav';

$main-bg-color: #f2f7fc;

$nav-color: #57b4c5;
$subnav-hover-color: #fcc483;
$visited: #f7c8a1;

$border-color: #e8f2fc;
$nav-border-color: #8dbdc4;
$description-bg-color: #fcfcfc;

$desktop: 1280px;
$largeDesktop: 1690px;