.field {
  height: 100%;
  margin: 0.8em;
  width: 100%; }
  .field label {
    position: absolute; }
    .field label .label-icon {
      background: #57b4c5;
      height: 1.5em;
      width: 2em; }
      .field label .label-icon i {
        color: white;
        vertical-align: middle; }
  .field input,
  .field textarea {
    border: 1px solid #57b4c5;
    padding-left: 2.2em;
    height: 100%;
    width: 90%; }
  .field input:focus,
  .field textarea:focus {
    border: 1px solid #fcc483;
    outline: none;
    transition: border 0.5s ease; }
  .field input[type=text],
  .field textarea[type=text],
  .field textarea::placeholder,
  .field input::placeholder {
    font-size: 100%;
    font-family: "Yantramanav"; }
  .field textarea {
    height: 8em;
    overflow: auto;
    resize: none; }

.field:focus-within .label-icon {
  background: #fcc483; }

button {
  background: #57b4c5;
  border: 1px solid #57b4c5;
  color: #fcfcfc;
  cursor: pointer;
  font-size: 100%;
  font-family: "Barlow Semi Condensed";
  padding: 0.2em;
  text-transform: uppercase;
  width: 5em; }

button:hover {
  background: #fcc483;
  border: 1px solid #fcc483;
  transition: background 0.3s ease; }
