@import '../../styles/variables.scss';

.field {
  height: 100%;
  margin: 0.8em;
  width: 100%;
  label {
    position: absolute;
    .label-icon {
      background: $nav-color;
      height: 1.5em;
      width: 2em;
      i {
        color: white;
        vertical-align: middle;
      }
    }
  }
  input,
  textarea {
    border: 1px solid $nav-color;
    padding-left: 2.2em;
    height: 100%;
    width: 90%;
  }
  input:focus,
  textarea:focus {
    border: 1px solid $subnav-hover-color;
    outline: none;
    transition: border 0.5s ease;
  }
  input[type=text],
  input[type=email],
  textarea[type=text],
  textarea::placeholder,
  input::placeholder {
    font-size: 100%;
    font-family: $body-font;
  }
  textarea {
    height: 8em;
    overflow: auto;
    resize: none;
  }
}

.field:focus-within {
  .label-icon {
    background: $subnav-hover-color;
  }
}

button {
  background: $nav-color;
  border: 1px solid $nav-color;
  color: $description-bg-color;
  cursor: pointer;
  font-size: 100%;
  font-family: $main-header-font;
  padding: 0.2em;
  text-transform: uppercase;
  width: 5em;
}

button:hover {
  background: $subnav-hover-color;
  border: 1px solid $subnav-hover-color;
  transition: background 0.3s ease;
}